body{
    color: white;
    background-color: black;
    
}

h1{
    color: violet;
    font-family: Consolas;
    font-size: 50px;
    
}

.title-about-me{
    color: cyan;
    font-family: Consolas;
    font-size: 20px;
    p{
        color: violet;
    }
}

.my-resume{
    color: lightcoral;
    font-size: 30px;
    font-family: Consolas;
}

.website-usage{
    color: cyan;
    font-size: 20px;
    font-family: Consolas;
    p{
        color: violet;
        font-family: Consolas;
        font-size: 25px;
    }
}

.life-updates{
    color: darkcyan;
    font-family: Consolas;
    font-size: 20px;
    
    summary{
        list-style: none;
    }
    summary::before{
        content: '';
        background-image: url('programming.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 8px;
        transition: transform 0.3s ease;
    }
}